<template>
  <v-container>
    <welcome-component></welcome-component>
  </v-container>
</template>

<script>
// import BlogItemComponent from "../components/BlogItemComponent.vue";
import Welcome from "../components/Welcome.vue";

export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blogs: [],
  }),

  components: {
    "welcome-component": Welcome,
  },

  methods: {
    go() {
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog/random/4",
      };

      this.axios(config)
        .then(response => {
          let { blogs } = response.data;
          this.blogs = blogs;
        })
        .catch(error => {
          console.log(error);
        });
    },
  },

  created() {
    this.go();
  },
};
</script>

<style>
.sapaan {
  width: 80%;
}
</style>
