<template>
  <div>
    <v-container>
      <v-card v-if="blog.id" class="rounded-t-xl" dark>
        <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
          <v-card-title class="fill-height align-end" v-text="blog.title"></v-card-title>
        </v-img>
        <v-card-text>
          <v-simple-table dense>
            <tbody>
              <tr>
                <td><v-icon>mdi-format-title</v-icon> Judul</td>
                <td class="blue--text">{{ blog.title }}</td>
              </tr>
              <tr>
                <td><v-icon>mdi-note</v-icon> Deskripsi</td>
                <td class="blue--text">{{ blog.description }}</td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-card-text>
      </v-card>

      <v-layout class="justify-center mt-5">
        <v-btn depressed dark to="/home" class="mr-2"><v-icon>mdi-arrow-left-bold</v-icon> Back</v-btn>
        <v-btn color="red" dark @click="hapus" class="mr-2"><v-icon>mdi-delete</v-icon>Delete</v-btn>
        <v-btn color="success" dark @click="upload"><v-icon>mdi-camera</v-icon>Upload Photo</v-btn>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blog: {},
  }),

  methods: {
    go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: `${this.apiDomain}/api/v2/blog/${id}`,
      };

      this.axios(config)
        .then(response => {
          let { blog } = response.data;
          this.blog = blog;
        })
        .catch(error => {
          console.log(error);
        });
    },
    hapus() {
      this.setDialogComponent({ component: "hapus", params: this.blog.id });
    },
    upload() {
      this.setDialogComponent({ component: "upload", params: this.blog.id });
    },
    ...mapActions({
      setDialogComponent: "dialog/setComponent",
    }),
  },

  created() {
    this.go();
  },
};
</script>
