<template>
  <v-container grid-list-sm>
    <v-carousel :show-arrows="true" height="400">
      <v-carousel-item v-for="(blog, i) in blogs" :key="i" :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"></v-carousel-item>
    </v-carousel>

    <v-layout wrap>
      <blog-item-component v-for="blog in blogs" :key="`blog${blog.id}`" :blog="blog"></blog-item-component>
    </v-layout>
  </v-container>
</template>

<script>
import BlogItemComponent from "../components/BlogItemComponent.vue";

export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blogs: [],
  }),

  components: {
    "blog-item-component": BlogItemComponent,
  },

  methods: {
    go() {
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog/random/4",
      };

      this.axios(config)
        .then(response => {
          let { blogs } = response.data;
          this.blogs = blogs;
        })
        .catch(error => {
          console.log(error);
        });
    },
  },

  created() {
    this.go();
  },
};
</script>

<style>
.sapaan {
  width: 80%;
}
</style>
