<template>
  <v-card class="mx-auto my-8" max-width="300px" :to="'/blog/' + blog.id" dark>
    <template slot="progress"><v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear></template>
    <v-img height="200px" width="280px" :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"></v-img><v-card-title>{{ blog.title.substring(0, 10) }}</v-card-title>
    <v-card-text>
      <div class="my-4 text-subtitle-1">{{ blog.description.substring(0, 20) }}</div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <v-card-actions><v-btn color="deep-purple lighten-2" text>Read More</v-btn></v-card-actions>
  </v-card>
</template>
<script>
export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
  }),
  props: ["blog"],
};
</script>
