<template>
  <v-container grid-list-sm>
    <v-carousel :show-arrows="true" height="400">
      <v-carousel-item v-for="(blog, i) in blogs" :key="i" :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"></v-carousel-item>
    </v-carousel>
    <v-container class="mt-4 sapaan" fluid style="color:#EEEEEE;">
      <p class="text-center">Selamat datang di <strong>SanBloggy</strong></p>
      <p class="text-center">
        Halo <strong>SanBlogger</strong> , SanBloggy merupakan sebuah web aplikasi yang menampung blog blog dari <strong>SanBlogger</strong>
        di aplikasi web ini kalian bisa melihat blog dari orang lain, membuat blog kalian sendiri dengan tampilan ui dan ux yang menarik
      </p>
    </v-container>
  </v-container>
</template>

<script>
// import BlogItemComponent from "../components/BlogItemComponent.vue";

export default {
  data: () => ({
    apiDomain: "http://demo-api-vue.sanbercloud.com",
    blogs: [],
  }),

  // components: {
  //   "blog-item-component": BlogItemComponent,
  // },

  methods: {
    go() {
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog/random/4",
      };

      this.axios(config)
        .then(response => {
          let { blogs } = response.data;
          this.blogs = blogs;
        })
        .catch(error => {
          console.log(error);
        });
    },
  },

  created() {
    this.go();
  },
};
</script>

<style>
.sapaan {
  width: 80%;
}
</style>
