<template>
  <!-- App.vue -->
  <v-app>
    <alert />
    <Dialog />
    <v-navigation-drawer app v-model="drawer" dark>
      <v-list>
        <v-list v-if="!guest">
          <v-list-item class="px-2 justify-center">
            <v-list-item-avatar>
              <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://randomuser.me/api/portraits/men/94.jpg'"></v-img>
            </v-list-item-avatar>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="text-h6">
                {{ user.name }}
              </v-list-item-title>
              <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <!-- jika sudah login  -->
          <v-list-item v-for="(item, index) in menus" :key="`menu-${index}`" :to="item.route">
            <v-list-item-icon>
              <v-icon left>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <!-- akhir -->
        </v-list>

        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" class="mb-1" @click="login">
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn block color="success" @click="register">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>

        <v-divider></v-divider>
      </v-list>

      <template v-solt:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="flex text-center">SanBloggy</v-toolbar-title>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main style="background-color:#424242;">
      <!-- Provides the application the proper gutter -->
      <v-container fluid mb-5>
        <v-slide-y-transition>
          <div v-if="guest">
            <Welcome />
          </div>
          <div v-if="!guest">
            <router-view></router-view>
          </div>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer padless dark>
      <v-col class="text-center" cols="12"
        ><strong>{{ new Date().getFullYear() }}</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Alert from "./components/Alert.vue";
import Dialog from "./components/Dialog.vue";
import Welcome from "./components/Welcome.vue";
import router from "./router";

export default {
  components: { Alert, Dialog, Welcome },
  name: "App",

  data: () => ({
    //
    drawer: false,
    menus: [
      { title: "Profile", icon: "mdi-account", route: "/profile" },
      { title: "Home", icon: "mdi-home", route: "/home" },
      { title: "Blogs", icon: "mdi-note", route: "/blogs" },
      { title: "About", icon: "mdi-domain", route: "/" },
    ],
    apiDomain: "https://demo-api-vue.sanbercloud.com",
  }),

  computed: {
    ...mapGetters({
      guest: "auth/guest",
      user: "auth/user",
      token: "auth/token",
    }),
  },

  methods: {
    logout() {
      let config = {
        method: "post",
        url: this.apiDomain + "/api/v2/auth/logout",
        headers: {
          Authorization: "Bearer " + this.token,
        },
      };

      this.axios(config)
        .then(() => {
          this.setToken("");
          this.setUser({});
          router.push("/");
          this.setAlert({
            status: true,
            color: "success",
            text: "Logout Berhasil",
          });
        })
        .catch(responses => {
          this.setAlert({
            status: true,
            color: "error",
            text: responses.data.error,
          });
        });
    },
    login() {
      this.setDialogComponent({ component: "login" });
    },
    register() {
      this.setDialogComponent({ component: "register" });
    },
    ...mapActions({
      setAlert: "alert/set",
      setDialogComponent: "dialog/setComponent",
      setToken: "auth/setToken",
      setUser: "auth/setUser",
      checkToken: "auth/checkToken",
    }),
  },

  mounted() {
    if (this.token) {
      this.checkToken(this.token);
    }
  },
};
</script>
